/* 全体 */
body {
  margin: 0;
  background: radial-gradient(#ffffff, #3271dd);
}

/* フレーム */
.frame {
  margin: 70px auto;
  width: 800px;
  border: 10px solid #0930ae;
  border-radius: 8px;
}

/* ボード */
.board {
  position: relative;
  background-color: #fff;
  padding: 30px 20px;
  min-height: 480px;
  z-index: 1;
  overflow: hidden;
}

.board .move-img{
    position:absolute;
    right: 30px;
    bottom:0;
    width:250px;
    z-index: 1;
}

/* タイトル */
.title{
  position: relative;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 1000;
  color: #000;
  letter-spacing: 0.1em;
  text-shadow: 2px 3px 0 #86b0f8;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

/* ボタン全体 */
.buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 16px;
  z-index: 2;
}

/* ボタン */
button {
  width: 170px;
  font-size: 28px;
  padding: 7px 0;
  border: 4px solid #2d4cba;
  border-radius: 8px;
  background: #fff;
  box-shadow: 2px 3px 0 #5da8e1;
  font-family: serif;
}

.start {
  color: #c33;
  font-weight: 700;
  background: #fdc1bb;
}
.howTo {
  color: #222;
  font-weight: 700;
  background: #f6f0ca;
}
.setting {
  color: #206312;
  font-weight: 700;
  background: #b4f0bc;
}

/* レスポンシブ対応 */
@media (max-width: 600px) {
  html, body {
    height: 100vh !important;
    width: 100vw !important;
    min-height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
  }
  body {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    min-height: 100vh !important;
    width: 100vw !important;
    overflow: hidden;
  }
  .frame {
    margin: 0 !important;
    width: 98vw !important;
    max-width: 420px !important;
    box-sizing: border-box;
  }
}